---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex">
		<aside class=" bg-[#252526] p-2 flex flex-col items-center border-r border-[#333] h-screen">
			<a href="#" class="p-2 hover:bg-[#333] rounded">
				<img src="hichoox-logo.png" alt="Logo" class="rounded-full w-10 h-10" />
			</a>
		</aside>
		<div class="flex-1 flex flex-col">
			<Header />
			<main class="flex flex-col items-start justify-center h-full px-20">
				<h1 class="text-xl text-gray-500">Hi all. I am</h1>
				<h2 class="text-6xl font-bold text-white">Hichem</h2>
				<h3 class="text-2xl text-highlight">> Front-end developer</h3>
				<div class="mt-6 text-left text-sm text-gray-400 max-w-md font-mono">
					<p><span class="highlight">const</span> <span class="variable">telephoneNum</span> = <span class="code">"00000000000"</span>;</p>
					<p><span class="highlight">const</span> <span class="variable">email</span> = <span class="code">"hichemamb@gmail.com"</span>;</p>
					<p><span class="highlight">const</span> <span class="variable">githubLink</span> = <a href="https://github.com/hichemamb" class="code">"https://github.com/hichemamb"</a>;</p>
					<p><span class="highlight">const</span> <span class="variable">linkedinPage</span> = <a href="https://www.linkedin.com/hichem" class="code">"https://www.linkedin.com/hichem"</a>;</p>
				</div>
			</main>
		</div>
		<!-- <Footer /> -->
	</body>
</html>
