---
import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav class="bg-[#252526] text-gray-300 flex items-center px-4 border-b border-[#333]">
        <div class="flex space-x-1">
            <HeaderLink href="/">main.ts</HeaderLink>
            <HeaderLink href="/blog">blog.ts</HeaderLink>
        </div>
      </nav>
</header>