---
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-[#F4B450] shadow-md flex justify-center">
    <nav class="flex items-center justify-center p-4">
        <div class="flex items-center justify-center space-x-8">
            <div class="logo-container">
                <a href="/" class="no-underline">
                    <img src="hichoox-logo.png" alt="Logo" class="rounded-full w-15 h-15" />
                </a>
            </div>
            <div class="internal-links flex">
                <HeaderLink href="/" class="py-4 px-2 text-black">Qui suis-je ?</HeaderLink>
                <HeaderLink href="/blog" class="py-4 px-2 text-black">Blog</HeaderLink>
            </div>
        </div>
    </nav>
</header>